body{
    text-align: center;
}
.btn{
    border: 5px solid black;
    height: 100px;
    width: 100px;
    border-radius: 5px;
    margin: 2.5rem;
}
.brown{
    background-color: brown;
}
.green{
    background-color: green;
}
.orange{
    background-color: orange;
}
.lightseagreen{
    background-color: lightseagreen;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.real{
    background-color: white;
}
.userFlash{
    background-color: red;
}